{% extends 'dancingcubeapp/base.html' %}

{% load i18n %}

{% block title %}Home{% endblock %}
{% load static %}

{% block content %}

<div>
  <div class="text-center my-5">
    <img src="{% static '/images/logo_graycube.png' %}" class="img-fluid" alt="Responsive image">
  </div>
  <div>
    <h1><b>Introduction / Contextualisation</b></h1>

    <p>
      Etienne Hüsler et moi-même Alexander Wohlfahrt, sommes deux développeurs fraîchement diplômés d’un Bachelor en
      développement logiciel, passionnés par l’univers du jeux vidéo. Nous aimons les imaginer, les créer, en parler et
      y
      jouer. Nous avons donc profité de notre travail de Bachelor pour nous adonner à notre passion, et c’est ainsi qu’à
      vue
      le jour « Dancing Cube ».
    </p>

    <p>
      Maintenant que nous possédons les droits sur ce projet, nous souhaitons le poursuivre et sortir une première
      version courant 2020. Nous avons déjà un prototype bien avancé, stable et jouable ! Mais nous travaillons encore
      activement dessus afin de l’améliorer et de proposer la meilleure expérience possible dès la sortie du jeu.
    </p>

    <p>
      Nous avons déjà eu l’occasion de présenter notre jeu dans divers événements en Suisse, comme la GSGS (NIFF
      extended), le Numerik Games Festival, la Zürich Game Show qui est l’un des plus grand festival dans le domaine du
      jeu vidéo en Suisse. Et nous sommes en train de préparer les prochaines conventions.
    </p>

    <p>
      <b>IMPORTANT !</b> Afin de mieux comprendre le projet et le jeu, nous vous invitons à lire la section suivante,
      puis de
      parcourir la section qui suit « Ce que nous cherchons en résumé ».
    </p>
  </div>

</div>
<div>
  <h1><b>Qu’est ce que Dancing Cube ?</b></h1>

  <p>
    Dancing Cube est un jeu vidéo musical original, de rythme et de réflexe, se jouant jusqu’à 4 joueurs et développé
    avec le moteur de jeu Unity. Les joueurs se retrouvent enfermés dans un cube qui se déforme au rythme de la
    musique. Le jeu permet aux joueurs de visualiser et de ressentir la musique, tout en essayant de survivre aux
    changements que celle-ci apporte au cube. Un éditeur et un générateur automatique sont fournis aux joueurs pour
    qu’ils puissent créer leurs niveaux et les partager.
  </p>


</div>
{% endblock content %}
    <h2>{% trans "Introduction" %}</h2>
    <img src="{% static '/images/logo_graycube.png' %}" alt="">
    <p>
      {% trans "This sentence is supposed to be in ENG: Etienne Hüsler et moi-même Alexander Wohlfahrt, sommes deux développeurs fraîchement diplômés d’un Bachelor en développement logiciel, passionnés par l’univers du jeux vidéo. Nous aimons les imaginer, les créer, en parler et y jouer. Nous avons donc profité de notre travail de Bachelor pour nous adonner à notre passion, et c’est ainsi qu’à vue le jour « Dancing Cube »." %}
    </p>
  </div>
  
  <div>
    <h2>{% trans "What is Dancing Cube ?" %}</h2>
    <p>
      {% trans "This sentence is supposed to be in ENG: Dancing Cube est un jeu vidéo musical original, de rythme et de réflexe, se jouant jusqu’à 4 joueurs et développé avec le moteur de jeu Unity. Les joueurs se retrouvent enfermés dans un cube qui se déforme au rythme de la musique. Le jeu permet aux joueurs de visualiser et de ressentir la musique, tout en essayant de survivre aux changements que celle-ci apporte au cube. Un éditeur et un générateur automatique sont fournis aux joueurs pour qu’ils puissent créer leurs niveaux et les partager." %}
    </p>
  </div>

{% endblock content %}
