{% extends 'dancingcubeapp/base.html' %}

{% load static %}

{% block title %} Details | {{map.name}} {% endblock %}

{% block script %}
<script>
    $(document).ready(function (event) {
        $(document).on('click', '#like', function (event) {
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "like_map" %}',
                data: {
                    'id': pk,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (response) {
                    $('#like_section').html(response['form'])
                },
                error: function (rs, e) {
                    console.log("error while liking the map") // toast error perhaps ? 
                }
            });
        });
    });
</script>
{% endblock script %}

{% block content %}
<div>
    <a href="{% url 'maps' %}" class="btn btn-outline-primary">back to all maps</a>
    <h1>{{ map.name }}</h1>
    <div class="row">
        {% if map.image %}
            <img style="margin:auto;max-height: 250px;" class="img-fluid" alt="Responsive image" src="{{ map.image.url }}">
        {% else %}
            <p>no image</p>
        {% endif %}
    </div>

    <div class="row mt-5">
        <div class="col-8">
            <p>
                Name: <b>{{ map.name }}</b>
            </p>
            <p>
                Uploader : <b>{{ map.uploader }}</b>
            </p>

            <p>
                Difficulty : <b>{{ map.difficulty }}</b>
            </p>

            <div id="like_section">
                {% include 'dancingcubeapp/like.html' %}
            </div>

        </div>
        <div class="col-4">
            <a href="{% url 'map-download' map.id %}" class="btn btn-outline-info">download</a>

            {% if user.is_authenticated %}
            {% if user == map.uploader or perms.map.update_map %}
            <a href="{% url 'map-update' map.id %}" class="btn btn-outline-warning">update</a>

            <a href="{% url 'map-delete' map.id %}" class="btn btn-outline-danger">delete</a>

            {% endif %}
            {% endif %}
        </div>
    </div>




</div>
{% endblock content %}