{% extends 'dancingcubeapp/base.html' %}

{% block title %} Details | {{map.name}} {% endblock %}

{% block content %}
    <a href="{% url 'dashboard-maps' %}" class="btn btn-outline-primary">back to all maps</a>
    <h1>Specific map</h1>
    {% if map.image %}
        <img src="{{ map.image.url }}">
    {% else %}
        <p>no image</p>
    {% endif %}
    name: <b>{{ map.name }}</b>
    <br>
    {% if user.is_authenticated %}
        {% if user == map.uploader or perms.map.update_map %}
            <a href="{% url 'map-update' map.id %}" class="btn btn-outline-danger">update</a>
            <br>
            <a href="{% url 'map-delete' map.id %}" class="btn btn-outline-warning">delete</a>
            <br>
        {% endif %}
    {% endif %}
    <a href="{% url 'map-download' map.id %}" class="btn btn-outline-info">download</a>
{% endblock content %}
