{% extends 'dancingcubeapp/base.html' %}

{% block title %} List details {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    {% if map.name %}
      <h1>{{ map.name }}</h1>
    {% else %}
      <h1>New  map</h1>
    {% endif %}
    <script>
      $(document).ready(function(){
        $('#id_map').attr('multiple', true);
      })
    </script>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Save" class="btn btn-success">
    </form>

{% endblock content %}
