{% extends 'dancingcubeapp/base.html' %}

{% block title %} Musicians {% endblock %}
{% load static %}

{% block content %}

<div>
    <div class="text-center my-5">
        <img src="{% static '/images/musicians.png' %}" class="img-fluid" alt="Responsive image">
    </div>

    <div>
        <h1><b>Détails musiciens</b></h1>

        <p>
            Dancing Cube est un jeu basé sur la musique. Nous recherchons donc des gens capables de nous réaliser des
            musiques. Nous cherchons tous types de style musical, pas forcément des musiques typées jeu vidéo. Nous
            devons juger au cas par cas, donc n’hésitez pas à nous demander si vous avez un doute, vous pourriez être
            surpris de la réponse 😉
        </p>

        <p>
            Nous insistons vraiment sur le fait que tous les niveaux sont acceptés, amateurs ou pro ! Nous vous
            expliquons volontiers les contreparties que vous pourriez obtenir en privé par e-mail et si vous êtes
            intéressé.
        </p>

        <p>
            En résumé, si le projet vous intéresse, que vous êtes un musicien expérimenté ou non, un étudiant ou un
            vétéran, quel que soit le style de musique et quel que soit votre âge, nous vous invitons à envoyer un mail
            à <a href="mailto:>dancingcubegame@gmail.com">>dancingcubegame@gmail.com </a>dès que possible, et en
            mettant « Dancing Cube – Musicien
            » comme sujet de
            l’e-mail.
        </p>

        <p>
            Nous vous donnerons plus de détails sur les deadlines, le projet dans son ensemble, sur les contraintes
            musicales, ce que vous pourriez y gagner et nous répondrons volontiers à toutes vos questions si vous en
            avez !
        </p>

    </div>

</div>

{% endblock content %}