body {
    background-color: #364652;
    color : #BFB1C1;
    font-size: 18px;
}

a {
    color : #BFB1C1;
}

nav {
    border-bottom: 1px solid #BFB1C1;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}